<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Recover password
        </div>
        <div class="card-body">
          <form>
            <p>We will send a verification code to the user´s email to reset their password</p>
            <div class="form-group mb-4">
              <label for="email">User email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="email"
              />
            </div>
            <span id="submit" ></span>
          </form>
 <button type="submit" id="rec">Send Code</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/getEmail.js"></script>