<h1>WELCOME!</h1>
    <article id="realProducts" class="">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </article>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
 <script src="/scripts/realP.js"></script> 