 {{#each products}}
    <a href="/products/{{this.id}}" class="pt-3 ps-3">{{this.title}}</a>
{{/each}} 
    <article id="realProducts" class="">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </article>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script src="/scripts/realP.js"></script>  