
{{!--     <div id="products"></div> --}}


<section class="container-fluid d-flex bg-light">

  {{! Products }}
  <article id="products" class="bg-body-secondary d-flex flex-wrap justify-content-center">
 <div class="spinner-grow" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  </article>
  

</section>
<script src="https://kit.fontawesome.com/02894371fc.js" crossorigin="anonymous"></script>


<script src="/scripts/products.js"></script>