<section class="d-flex bg-light">
  <div class="d-flex bg-body-secondary justify-content-evenly w-50">

    {{! Users }}
    <article id="realUsers" class="">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </article>
  </div>

  <div class="br-2 d-flex w-50">


    <article class="border-start w-50 p-4">
      <h3> <i class="fa-solid fa-user"></i> Users</h3>
      <form class="mb-3">

        <label for="idUser">ID:</label>
        <input type="name" id="idUser" class="form-control" placeholder="ID" />

        <label for="email" class="form-label">Email:</label>
        <input type="name" id="email" class="form-control" />

        <label for="photo" class="form-label">Photo:</label>
        <input type="name" id="photoUser" class="form-control" />

        <label for="password" class="form-label">Password:</label>
        <input type="name" id="password" class="form-control" />

        <label for="role" class="form-label">Role:</label>
        <input type="name" id="role" class="mb-3 form-control" />

        <button
          class="btn btn-primary"
          id="formUser"
          onclick="runUser()"
          type="button"
        ><i class="fa-solid fa-plus"></i>
        </button>
      </form>
    </article>
  </div>

</section>
<script
  src="https://kit.fontawesome.com/02894371fc.js"
  crossorigin="anonymous"
></script>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
{{!-- <script src="../../public/scripts/realU.js"></script> --}}
<script>
    const socket = io(); 

socket.on('realUsers', data=>{
  let template = ``;
  template = data.map(element=> ` 
  <div class="card mb-2" style="width: 18rem;"> 
    <img src=${element.photo} class="card-img-top" alt=${element.id}> 
    <div class="card-body"> <h5 class="card-title">${element.id}</h5>
     <p class="card-text">${element.email}</p> 
     <a href="/users/details/${element.id}" class="btn btn-outline-secondary">Details</a>
<button class="btn btn-outline-secondary" onclick="destroyUser('${element.id}')" type="button"><i class="fa-regular fa-trash-can"></i></button>
 </div>
</div>`).join('')
document.querySelector('#realUsers').innerHTML = template
})

function destroyUser(id)
{ socket.emit('destroyUser', id) }; 

function runUser()
{
const id = document.querySelector('#idUser').value; 
const photo = document.querySelector('#photoUser').value; 
const email = document.querySelector('#email').value; 
const password= document.querySelector('#password').value; 
const role= document.querySelector('#role').value ;
socket.emit('createUser', {id:id, photo: photo, email: email, password: password, role: role})
}

</script>