
<section class=" d-flex bg-light">
<div class="d-flex bg-body-secondary justify-content-evenly w-50">
  {{! Products }}
  <article id="realProducts" class="">
 <div class="spinner-grow" role="status">
  <span class=" visually-hidden">Loading...</span>
</div>
  </article>
  
  {{! Users }}
  <article id="realUsers" class="">
   <div class="spinner-grow" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  </article>
</div>

<div class="br-2 d-flex w-50 ">
  {{! Products form }}
  <article class="border-start w-50 p-4">
    <form class="mb-3">
      <h3>Products</h3>
      <label for="id">ID:</label>
      <input class="form-control" type="name" id="id" />

      <label for="title">Title:</label>
      <input type="name" class="form-control" id="title" />

      <label for="photo">Photo:</label>
      <input type="name" id="photo" class="form-control"/>

      <label for="category">Category:</label>
      <input type="name" id="category" class="form-control"/>

      <label for="price">Price:</label>
      <input type="name" id="price" class="form-control"/>

      <label for="stock">Stock</label>
      <input type="name" id="stock" class="form-control mb-3"/>
      <button
        class="btn btn-primary"
        id="form"
        onclick="run()"
        type="button"
      >SEnd</button>
    </form>
  </article>
  <article class="border-start w-50 p-4">
      <h3>Users</h3>
    <form class="mb-3">
      

      <label for="idUser" >ID:</label>
      <input type="name" id="idUser"  class="form-control" placeholder="ID"/>

      <label for="email" class="form-label">Email:</label>
      <input type="name" id="email"   class="form-control"/>

      <label for="photo" class="form-label">Photo:</label>
      <input type="name" id="photoUser" class="form-control" />

      <label for="password" class="form-label">Password:</label>
      <input type="name" id="password" class="form-control"/>

      <label for="role" class="form-label">Role:</label>
      <input type="name" id="role" class="mb-3 form-control"/>

      <button
        class="btn btn-primary"
        id="formUser"
        onclick="runUser()"
        type="button"
      >Send
      </button>
    </form>
  </article>
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>

<script>
  const socket = io(); socket.on('products', data=> { let template = ``; template =
  data.map(element=> ` <div class="card mb-2" style="width: 18rem;"> <img
  src=${element.photo} class="card-img-top" alt=${element.id}> <div
  class="card-body"> <h5 class="card-title">${element.title}</h5> <p
  class="card-text">$${element.price}</p> <a
  href="/products/details/${element.id}" class="btn btn-primary">Details</a>
  <button class="btn btn-primary" onclick="destroy('${element.id}')"
  type="button">Delete</button> </div> </div> `).join('');
  document.querySelector('#realProducts').innerHTML = template }); 

  socket.on('realUsers', data=>{
    let template = ``;
    template = data.map(element=> ` 
    <div class="card mb-2" style="width: 18rem;"> 
      <img src=${element.photo} class="card-img-top" alt=${element.id}> 
      <div class="card-body"> <h5 class="card-title">${element.id}</h5>
       <p class="card-text">${element.email}</p> 
       <a href="/users/details/${element.id}" class="btn btn-primary">Details</a>
  <button class="btn btn-primary" onclick="destroyUser('${element.id}')" type="button">Delete</button>
   </div>
  </div>`).join('')
  document.querySelector('#realUsers').innerHTML = template
  })
  function run()
      { const id = document.querySelector('#id').value; 
      const title = document.querySelector('#title').value; 
      const photo = document.querySelector('#photo').value; 
      const category = document.querySelector('#category').value; 
      const price = document.querySelector('#price').value;
     const stock = document.querySelector('#stock').value; 
     socket.emit('create', {title: title, photo: photo, category: category, price: price, stock:stock}) } 
  function destroy(id)
  { socket.emit('destroy', id) }; 
  
  function destroyUser(id)
  { socket.emit('destroyUser', id) }; 

  function runUser()
{
  console.log('hola')
  const id = document.querySelector('#idUser').value; 
  const photo = document.querySelector('#photoUser').value; 
  const email = document.querySelector('#email').value; 
  const password= document.querySelector('#password').value; 
  const role= document.querySelector('#role').value ;
  socket.emit('createUser', {id:id, photo: photo, email: email, password: password, role: role})
  }
</script>