<section class="d-flex bg-light">
  <div class="d-flex bg-body-secondary justify-content-evenly w-50">

    {{! Users }}
    <article id="realUsers" class="">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </article>
  </div>

  <div class="br-2 d-flex w-50">


    <article class="border-start  w-75 p-4">
        <div class="d-flex flex-row-reverse">
  <div class="p-2"><h3 class="d-flex gap-2">Users  <i class="fa-solid d-flex aligtn-items-center justify-content-end fa-user mb-5"></i> </h3></div>

</div>
      
      <form class="mb-3">

        <label for="idUser">ID:</label>
        <input type="name" id="idUser" class="form-control"  />

        <label for="email" class="form-label">Email:</label>
        <input type="name" id="email" class="form-control" />

        <label for="photo" class="form-label">Photo:</label>
        <input type="name" id="photoUser" class="form-control" />

        <label for="password" class="form-label">Password:</label>
        <input type="name" id="password" class="form-control" />

        <label for="role" class="form-label">Role:</label>
        <input type="name" id="role" class="mb-3 form-control" />

        <button
          class="btn btn-primary"
          id="formUser"
          onclick="runUser()"
          type="button"
        ><i class="fa-solid fa-plus"></i>
        </button>
      </form>
    </article>
  </div>

</section>
<script
  src="https://kit.fontawesome.com/02894371fc.js"
  crossorigin="anonymous"
></script>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
 <script src="/scripts/realU.js"></script> 
